In [260]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [261]:
df = pd.read_csv('movie_dataset.csv')

In [262]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [263]:
df.shape

(4803, 24)

In [264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [265]:
df.isnull().any()

index                   False
budget                  False
genres                   True
homepage                 True
id                      False
keywords                 True
original_language       False
original_title          False
overview                 True
popularity              False
production_companies    False
production_countries    False
release_date             True
revenue                 False
runtime                  True
spoken_languages        False
status                  False
tagline                  True
title                   False
vote_average            False
vote_count              False
cast                     True
crew                    False
director                 True
dtype: bool

In [266]:
df.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [267]:
df["genres"].fillna("", inplace=True)

In [268]:
df.isnull().sum()

index                      0
budget                     0
genres                     0
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [269]:
df["homepage"].fillna("NO LINK", inplace=True)

In [270]:
df["keywords"].fillna("",inplace=True)

In [271]:
df.drop(columns=["tagline"],axis=1,inplace=True)

In [272]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [273]:
df.isnull().sum()

index                    0
budget                   0
genres                   0
homepage                 0
id                       0
keywords                 0
original_language        0
original_title           0
overview                 3
popularity               0
production_companies     0
production_countries     0
release_date             1
revenue                  0
runtime                  2
spoken_languages         0
status                   0
title                    0
vote_average             0
vote_count               0
cast                    43
crew                     0
director                30
dtype: int64

In [274]:
df["cast"].fillna("",inplace=True)
df["crew"].fillna("",inplace=True)
df["director"].fillna("",inplace=True)

In [275]:
df.isnull().sum()

index                   0
budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                3
popularity              0
production_companies    0
production_countries    0
release_date            1
revenue                 0
runtime                 2
spoken_languages        0
status                  0
title                   0
vote_average            0
vote_count              0
cast                    0
crew                    0
director                0
dtype: int64

In [276]:
Feature_Dataset= df[['index','title','genres','keywords','director','cast']].copy()

In [277]:
Feature_Dataset.head(5)

,index,title,genres,keywords,director,cast
0,0,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,James Cameron,Sam Worthington Zoe Saldana Sigourney Weaver S...
1,1,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,Gore Verbinski,Johnny Depp Orlando Bloom Keira Knightley Stel...
2,2,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6,Sam Mendes,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3,3,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Christopher Nolan,Christian Bale Michael Caine Gary Oldman Anne ...
4,4,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,Andrew Stanton,Taylor Kitsch Lynn Collins Samantha Morton Wil...

In [278]:
def feature_combination(row):
    return row['genres']+" "+row['keywords']+" "+row['director']+" "+row['cast']
Feature_Dataset["Combined_Features"]= Feature_Dataset.apply(feature_combination,axis=1)

In [279]:
Feature_Dataset.head(5)

,index,title,genres,keywords,director,cast,Combined_Features
0,0,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,James Cameron,Sam Worthington Zoe Saldana Sigourney Weaver S...,Action Adventure Fantasy Science Fiction cultu...
1,1,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,Gore Verbinski,Johnny Depp Orlando Bloom Keira Knightley Stel...,Adventure Fantasy Action ocean drug abuse exot...
2,2,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6,Sam Mendes,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Action Adventure Crime spy based on novel secr...
3,3,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Christopher Nolan,Christian Bale Michael Caine Gary Oldman Anne ...,Action Crime Drama Thriller dc comics crime fi...
4,4,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,Andrew Stanton,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Action Adventure Science Fiction based on nove...

In [280]:
countvectorizer= CountVectorizer()
Combined_Features_Matrix=countvectorizer.fit_transform(Feature_Dataset["Combined_Features"])

In [281]:
Combined_Features_Cosine_Similarity=cosine_similarity(Combined_Features_Matrix)

In [282]:
print(Combined_Features_Cosine_Similarity)

[[1.         0.10540926 0.12038585 ... 0.         0.         0.        ]
 [0.10540926 1.         0.0761387  ... 0.03651484 0.         0.        ]
 [0.12038585 0.0761387  1.         ... 0.         0.11145564 0.        ]
 ...
 [0.         0.03651484 0.         ... 1.         0.         0.04264014]
 [0.         0.         0.11145564 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.04264014 0.         1.        ]]

In [283]:
#def get_index(title):
 #   return Feature_Dataset[Feature_Dataset.title==title]["index"].values[0]

In [284]:
#Function to get index from title
def get_Index(title):
    for i in Feature_Dataset["title"]:
        if i==title:
            return Feature_Dataset[Feature_Dataset.title==i]["index"].values[0]
    return -1   

#Function to check whether the movie is present in the dataset or not
def check_Movie_Present(movie_index):
    if movie_index==-1:
        print("Movie not found in dataset!FOLLOWING STEPS WILL RESULT IN ERROR!!!!!")
        exit(0)
    
#Function to get title from an index    
def get_title(index):
    return Feature_Dataset[Feature_Dataset.index==index]["title"].values[0]

#Function to search similar movies
def search_for_n_similar_movies(Sorted_Similar_Movies,n=5):
    i=0
    for movie in Sorted_Similar_Movies:
        print(get_title(movie[0]))
        i=i+1
        if i==n:
            break
            
            
 #Function to recommend movies           
def recommending_system(user_movie,number_of_recommendations=5):
    movie_index=get_Index(user_movie)
    check_Movie_Present(movie_index)
    Similar_Movies=list(enumerate(Combined_Features_Cosine_Similarity[movie_index]))
    Sorted_Similar_Movies=sorted(Similar_Movies,key= lambda x:x[1],reverse=True)
    search_for_n_similar_movies(Sorted_Similar_Movies,number_of_recommendations)

In [285]:
user_movie=input("Enter a Movie: ")
number_of_recommendations=input("Enter the number of recommedations: ")
number_of_recommendations=int(number_of_recommendations)

Enter a Movie: The Avengers
Enter the number of recommedations: 6

In [286]:
recommending_system(user_movie,number_of_recommendations)

The Avengers
Avengers: Age of Ultron
Iron Man 2
Captain America: The Winter Soldier
Captain America: Civil War
Thor: The Dark World